<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Voice Controlled Notes App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
       
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/angular-loading.css">

    </head>
    <body ng-app="myApp">
        <div class="container" data-ng-controller="appController">
            <h1>Audio Transcription Prototype</h1>
            <h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>

            <div class="app"> 
                <button id="start-record-btn" class="btn btn-success btn-lg" ng-click="start()" title="Start Recording">START</button>
                <button id="pause-record-btn" class="btn btn-warning btn-lg" ng-click="end()" title="Pause Recording" style="display:none">STOP</button>
                <p id="recording-instructions">Press the <strong>Start</strong> button and allow access.</p>
                <h4 style="margin-bottom: 50px" ng-if="analysisResult.string!=undefined">Text to analyze: "{{analysisResult.string}}"</h4>
                <h2 ng-if="analysisResult.string!=undefined" style="text-decoration: underline">Analysis Result with Babelnet Query:</h2>
                <div ng-repeat="data in analysisResult.result" ng-if="analysisResult.result.length!=0">
                  <h3>{{data.name}}</h3>
                  <div class="table-responsive"></div>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>id</th>
                          <th>pos</th>
                          <th>source</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="synset in data.synset" ng-click="showSynset(synset.id)" style="cursor:pointer">
                          <td>{{synset.id}}</td>
                          <td>{{synset.pos}}</td>
                          <td>{{synset.source}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>

                <div ng-if="analysisResult.result.length==0">
                  <h2>No analysis result found!</h2>
                </div>
            </div>
            

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/angular-loading.js"></script>

    </body>
</html>
